SUPABASE_URL=https://omjblauittoyxknabrqg.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_aEtaP2vsKfYpN50nuo2CSg_tU1nLEfc
SUPABASE_SECRET_KEY=sb_secret_xxx
NEXT_PUBLIC_SUPABASE_URL=https://omjblauittoyxknabrqg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_aEtaP2vsKfYpN50nuo2CSg_tU1nLEfc
WEB_ORIGIN=http://localhost:3000
